@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Brink';
    src: url('/src/assets/fonts/Brink.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}